<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns="http://schemas.android.com/apk/res/androoid"
		id="cordova-plugin-rtsp-vlc"
		version="3.0.1">

		<name>vlcstreamplayer</name>
		<description>VLC Stream Player</description>
		<author>Yossi Neiman</author>
		<license>Apache 2.0</license>
		<keywords>cordova, VLC, stream, rtsp, rtp</keywords>

		<js-module src="www/VideoPlayerVLC.js" name="VideoPlayerVLC">
			<clobbers target="window.VideoPlayerVLC" />
		</js-module>
        
		<!-- ES6 promise polyfill -->
    	<dependency id="es6-promise-plugin" version="4.1.0" />


		<platform name="android">	
			<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="VideoPlayerVLC">
					<param name="android-package" value="com.cordovaVLC.VideoPlayerVLC"/>
				</feature>
			</config-file>
			
			<config-file target="AndroidManifest.xml" parent="/manifest">
				<uses-permission android:name="android.permission.INTERNET" />
			</config-file>

			<config-file target="AndroidManifest.xml" parent="/manifest/application">
				<activity 
					android:name="com.cordovaVLC.VLCActivity"
				 	android:configChanges="screenSize|orientation"
				/>
			</config-file>
			<source-file src="src/android/com/libs/vlcLibWrapper" target-dir="src/main/java/com"/>
			
			<source-file src="src/android/com/cordovaVLC/VideoPlayerVLC.java" target-dir="src/com/cordovaVLC"/>
			<source-file src="src/android/com/cordovaVLC/VLCActivity.java" target-dir="src/com/cordovaVLC"/>
			<source-file src="src/android/com/cordovaVLC/CordovaAPIKeys.java" target-dir="src/com/cordovaVLC"/>
			
			<resource-file src="src/android/res/layout/vlc_player.xml" target="res/layout/vlc_player.xml" />
			<resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
			<resource-file src="src/android/res/drawable/live_layout.xml" target="res/drawable/live_layout.xml" />

			<resource-file src="src/android/res/drawable-hdpi/ic_arrow_down.xml" target="res/drawable-hdpi/ic_arrow_down.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_arrow_left.xml" target="res/drawable-hdpi/ic_arrow_left.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_arrow_right.xml" target="res/drawable-hdpi/ic_arrow_right.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_arrow_up.xml" target="res/drawable-hdpi/ic_arrow_up.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_joystick_background.xml" target="res/drawable-hdpi/ic_joystick_background.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_joystick_background_down.xml" target="res/drawable-hdpi/ic_joystick_background_down.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_joystick_background_left.xml" target="res/drawable-hdpi/ic_joystick_background_left.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_joystick_background_right.xml" target="res/drawable-hdpi/ic_joystick_background_right.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_joystick_background_up.xml" target="res/drawable-hdpi/ic_joystick_background_up.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_recording_button_idle.xml" target="res/drawable-hdpi/ic_recording_button_idle.xml" />
			<resource-file src="src/android/res/drawable-hdpi/ic_x.xml" target="res/drawable-hdpi/ic_x.xml" />

			<resource-file src="src/android/res/drawable-mdpi/ic_arrow_down.xml" target="res/drawable-mdpi/ic_arrow_down.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_arrow_left.xml" target="res/drawable-mdpi/ic_arrow_left.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_arrow_right.xml" target="res/drawable-mdpi/ic_arrow_right.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_arrow_up.xml" target="res/drawable-mdpi/ic_arrow_up.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_joystick_background.xml" target="res/drawable-mdpi/ic_joystick_background.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_joystick_background_down.xml" target="res/drawable-mdpi/ic_joystick_background_down.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_joystick_background_left.xml" target="res/drawable-mdpi/ic_joystick_background_left.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_joystick_background_right.xml" target="res/drawable-mdpi/ic_joystick_background_right.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_joystick_background_up.xml" target="res/drawable-mdpi/ic_joystick_background_up.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_recording_button_idle.xml" target="res/drawable-mdpi/ic_recording_button_idle.xml" />
			<resource-file src="src/android/res/drawable-mdpi/ic_x.xml" target="res/drawable-mdpi/ic_x.xml" />
			
			<resource-file src="src/android/res/drawable-xhdpi/ic_arrow_down.xml" target="res/drawable-xhdpi/ic_arrow_down.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_arrow_left.xml" target="res/drawable-xhdpi/ic_arrow_left.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_arrow_right.xml" target="res/drawable-xhdpi/ic_arrow_right.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_arrow_up.xml" target="res/drawable-xhdpi/ic_arrow_up.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_joystick_background.xml" target="res/drawable-xhdpi/ic_joystick_background.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_joystick_background_down.xml" target="res/drawable-xhdpi/ic_joystick_background_down.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_joystick_background_left.xml" target="res/drawable-xhdpi/ic_joystick_background_left.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_joystick_background_right.xml" target="res/drawable-xhdpi/ic_joystick_background_right.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_joystick_background_up.xml" target="res/drawable-xhdpi/ic_joystick_background_up.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_recording_button_idle.xml" target="res/drawable-xhdpi/ic_recording_button_idle.xml" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_x.xml" target="res/drawable-xhdpi/ic_x.xml" />

			<resource-file src="src/android/res/drawable-xxhdpi/ic_arrow_down.xml" target="res/drawable-xxhdpi/ic_arrow_down.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_arrow_left.xml" target="res/drawable-xxhdpi/ic_arrow_left.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_arrow_right.xml" target="res/drawable-xxhdpi/ic_arrow_right.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_arrow_up.xml" target="res/drawable-xxhdpi/ic_arrow_up.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_joystick_background.xml" target="res/drawable-xxhdpi/ic_joystick_background.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_joystick_background_down.xml" target="res/drawable-xxhdpi/ic_joystick_background_down.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_joystick_background_left.xml" target="res/drawable-xxhdpi/ic_joystick_background_left.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_joystick_background_right.xml" target="res/drawable-xxhdpi/ic_joystick_background_right.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_joystick_background_up.xml" target="res/drawable-xxhdpi/ic_joystick_background_up.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_recording_button_idle.xml" target="res/drawable-xxhdpi/ic_recording_button_idle.xml" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_x.xml" target="res/drawable-xxhdpi/ic_x.xml" />

			<resource-file src="src/android/res/drawable-xxxhdpi/ic_arrow_down.xml" target="res/drawable-xxxhdpi/ic_arrow_down.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_arrow_left.xml" target="res/drawable-xxxhdpi/ic_arrow_left.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_arrow_right.xml" target="res/drawable-xxxhdpi/ic_arrow_right.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_arrow_up.xml" target="res/drawable-xxxhdpi/ic_arrow_up.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_joystick_background.xml" target="res/drawable-xxxhdpi/ic_joystick_background.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_joystick_background_down.xml" target="res/drawable-xxxhdpi/ic_joystick_background_down.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_joystick_background_left.xml" target="res/drawable-xxxhdpi/ic_joystick_background_left.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_joystick_background_right.xml" target="res/drawable-xxxhdpi/ic_joystick_background_right.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_joystick_background_up.xml" target="res/drawable-xxxhdpi/ic_joystick_background_up.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_recording_button_idle.xml" target="res/drawable-xxxhdpi/ic_recording_button_idle.xml" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_x.xml" target="res/drawable-xxxhdpi/ic_x.xml" />
			
			<resource-file src="src/android/res/drawable-hdpi/ic_pause_white_24dp.png" target="res/drawable-hdpi/ic_pause_white_24dp.png" />
			<resource-file src="src/android/res/drawable-hdpi/ic_play_arrow_white_24dp.png" target="res/drawable-hdpi/ic_play_arrow_white_24dp.png" />
			
			<resource-file src="src/android/res/drawable-mdpi/ic_pause_white_24dp.png" target="res/drawable-mdpi/ic_pause_white_24dp.png" />
			<resource-file src="src/android/res/drawable-mdpi/ic_play_arrow_white_24dp.png" target="res/drawable-mdpi/ic_play_arrow_white_24dp.png" />
			
			<resource-file src="src/android/res/drawable-xhdpi/ic_pause_white_24dp.png" target="res/drawable-xhdpi/ic_pause_white_24dp.png" />
			<resource-file src="src/android/res/drawable-xhdpi/ic_play_arrow_white_24dp.png" target="res/drawable-xhdpi/ic_play_arrow_white_24dp.png" />
			
			<resource-file src="src/android/res/drawable-xxhdpi/ic_pause_white_24dp.png" target="res/drawable-xxhdpi/ic_pause_white_24dp.png" />
			<resource-file src="src/android/res/drawable-xxhdpi/ic_play_arrow_white_24dp.png" target="res/drawable-xxhdpi/ic_play_arrow_white_24dp.png" />
			
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_pause_white_24dp.png" target="res/drawable-xxxhdpi/ic_pause_white_24dp.png" />
			<resource-file src="src/android/res/drawable-xxxhdpi/ic_play_arrow_white_24dp.png" target="res/drawable-xxxhdpi/ic_play_arrow_white_24dp.png" />
		</platform>
        
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="VideoPlayerVLC">
                    <param name="ios-package" value="VideoPlayerVLC"/>
                </feature>
                <feature name="VideoPlayerVLCViewController">
                    <param name="ios-package" value="VideoPlayerVLCViewController" />
                </feature>
            </config-file>
 	          
            <header-file src="src/ios/VideoPlayerVLC.h" />
            <source-file src="src/ios/VideoPlayerVLC.m" />
            <header-file src="src/ios/VideoPlayerVLCViewController.h" />
            <source-file src="src/ios/VideoPlayerVLCViewController.m" />
            <framework src="MobileVLCKit" type="podspec" spec="3.1.5" />
            <framework src="/usr/lib/libbz2.dylib" />
            <framework src="/usr/lib/libiconv.dylib" />
            <framework src="/usr/lib/libstdc++.dylib" />
            <framework src="/usr/lib/libz.dylib" />
            <framework src="Security.framework" />
            <framework src="QuartzCore.framework" />
            <framework src="OpenGLES.framework" />
            <framework src="CoreText.framework" />
            <framework src="CFNetwork.framework" />
            <framework src="AudioToolbox.framework" />
            <framework src="CoreAudio.framework" />
            <framework src="UIKit.framework" />
            <framework src="Foundation.framework" />
        </platform>
</plugin>